.healthBack {
    position: absolute;
    left: 750px;
    bottom: 170px;
    padding: 5px;
    background-color: #323232;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.healthBarBack {
    width: 250px;
    background-color: #212121;
    border-radius: 5px;
}

.healthBar {
    background-color: #e74c3c;
    border-radius: 5px;
}

.healthText {
    margin-left: 10px;
    margin-right: 5px;
    color: #e74c3c;
    text-shadow: 0 0 1px black;
    font-weight: bold;
}
